<header class="header">

    <div class="container">

        <nav class="navbar">

            <a href="/" class="logo">
                ⚡ Rudra Electricals
            </a>

            <ul class="nav-links">

                <li><a href="/">Home</a></li>

                <li><a href="/services">Services</a></li>

                <li><a href="/products">Products</a></li>

                <li><a href="/gallery">Gallery</a></li>

                <li><a href="/contact">Contact</a></li>

            </ul>

            <div class="nav-right">

                <a href="tel:+918090801286" class="call-btn">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone">
                        <path
                            d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384" />
                    </svg>

                    Call Now

                </a>

            </div>

            <button class="menu-btn">

                <svg xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round">

                    <path d="M3 6h18"/>
                    <path d="M3 12h18"/>
                    <path d="M3 18h18"/>

                </svg>

            </button>

        </nav>

    </div>

</header>