*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:var(--font-family);
    background:var(--bg);
    color:var(--text);
    font-size:var(--fs-base);
    line-height:1.6;
}

.container{
    width:100%;
    max-width:var(--container-width);
    margin:auto;
    padding-inline:20px;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

button,
input,
textarea{
    font-family:inherit;
}